<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Check Access</title>
<link rel="stylesheet" href="css/bootstrap.css"></link>
<link rel="stylesheet" href="css/bootstrap-theme.css"></link>
</head>
<body>
<form>

<br/>
<label id="testResourceLabel"></label>
</form>

</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		Resources.all();
		});
</script>
</html>