<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Check Access</title>
<link rel="stylesheet" href="css/bootstrap.css"></link>
<link rel="stylesheet" href="css/bootstrap-theme.css"></link>
</head>
<body>
<form>
<label>Path: </label>
<input type="text" id="path"/>
<br/>
<label>Method: </label>
<input type="text" id="method"/>
<br/>
<input type="button" value="Check Access" id="checkAccessButton" onclick="return Resources.checkAccess();"/>
<br/>
<br/>
<label id="checkAccessStatus"></label>
</form>

</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
	
</script>
</html>